Importing the dependencies

In [2]:
import pandas as pd
import numpy as np

Importing the data

In [3]:
resume_data = pd.read_csv('Datasets/Expanded_Resume_Screening.csv')

In [4]:
resume_data.head()

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,1,Ashley Ali,"TensorFlow, NLP, Pytorch",10,B.Sc,NaN,AI Researcher,Hire,104895,8,100
1,2,Wesley Roman,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,3,Corey Sanchez,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,4,Elizabeth Carney,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,5,Julie Hill,"SQL, React, Java",4,PhD,NaN,Software Engineer,Hire,87441,9,100

In [5]:
resume_data.isnull().sum()

Resume_ID                     0
Name                          0
Skills                        0
Experience (Years)            0
Education                     0
Certifications            14080
Job Role                      0
Recruiter Decision            0
Salary Expectation ($)        0
Projects Count                0
AI Score (0-100)              0
dtype: int64

In [6]:
resume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Resume_ID               51000 non-null  int64
 1   Name                    51000 non-null  object
 2   Skills                  51000 non-null  object
 3   Experience (Years)      51000 non-null  int64
 4   Education               51000 non-null  object
 5   Certifications          36920 non-null  object
 6   Job Role                51000 non-null  object
 7   Recruiter Decision      51000 non-null  object
 8   Salary Expectation ($)  51000 non-null  int64
 9   Projects Count          51000 non-null  int64
 10  AI Score (0-100)        51000 non-null  int64
dtypes: int64(5), object(6)
memory usage: 4.3+ MB

In [7]:
resume_data['Certifications'].value_counts()

Certifications
Deep Learning Specialization    13046
AWS Certified                   12453
Google ML                       11421
Name: count, dtype: int64

In [8]:
resume_data['Certifications'].fillna('None', inplace=True)

/tmp/ipykernel_10983/1681698473.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  resume_data['Certifications'].fillna('None', inplace=True)

In [9]:
resume_data

,Resume_ID,Name,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,1,Ashley Ali,"TensorFlow, NLP, Pytorch",10,B.Sc,None,AI Researcher,Hire,104895,8,100
1,2,Wesley Roman,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,3,Corey Sanchez,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,4,Elizabeth Carney,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,5,Julie Hill,"SQL, React, Java",4,PhD,None,Software Engineer,Hire,87441,9,100
...,...,...,...,...,...,...,...,...,...,...,...
50995,50996,Candidate_50996,"NLP, TensorFlow, Python, Pytorch",27,B.Sc,AWS Certified,Cybersecurity Analyst,Hire,76516,19,76
50996,50997,Candidate_50997,"React, SQL, C++",17,MBA,None,Cybersecurity Analyst,Reject,41356,10,7
50997,50998,Candidate_50998,"Pytorch, NLP",40,B.Sc,Google ML,AI Researcher,Reject,191980,5,57
50998,50999,Candidate_50999,"Python, Pytorch, TensorFlow, NLP",4,MBA,None,Data Scientist,Reject,79574,3,37
50999,51000,Candidate_51000,"Ethical Hacking, Networking, Linux",14,B.Sc,Deep Learning Specialization,Cybersecurity Analyst,Hire,110224,10,73

In [10]:
resume_data.isnull().sum()

Resume_ID                 0
Name                      0
Skills                    0
Experience (Years)        0
Education                 0
Certifications            0
Job Role                  0
Recruiter Decision        0
Salary Expectation ($)    0
Projects Count            0
AI Score (0-100)          0
dtype: int64

In [11]:
# Dropping the uneceassary columns

resume_data.drop(['Name', 'Resume_ID'], axis=1, inplace=True)

In [12]:
resume_data.head(2)

,Skills,Experience (Years),Education,Certifications,Job Role,Recruiter Decision,Salary Expectation ($),Projects Count,AI Score (0-100)
0,"TensorFlow, NLP, Pytorch",10,B.Sc,None,AI Researcher,Hire,104895,8,100
1,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100

In [13]:
resume_data['AI Score (0-100)'].value_counts()

AI Score (0-100)
100    974
85     593
65     585
80     561
27     552
      ...
9      458
5      456
42     446
87     432
20     417
Name: count, Length: 101, dtype: int64

In [14]:
resume_data.rename(columns={'Experience (Years)': 'ExperienceYears', 'Salary Expectation ($)': 'SalaryExpectation','AI Score (0-100)':'AIScore','Job Role':'JobRole','Recruiter Decision':'RecruiterDecision','Projects Count':'ProjectsCount'}, inplace=True)

In [15]:
resume_data.columns

Index(['Skills', 'ExperienceYears', 'Education', 'Certifications', 'JobRole',
       'RecruiterDecision', 'SalaryExpectation', 'ProjectsCount', 'AIScore'],
      dtype='object')

In [16]:
resume_data.head(1)

,Skills,ExperienceYears,Education,Certifications,JobRole,RecruiterDecision,SalaryExpectation,ProjectsCount,AIScore
0,"TensorFlow, NLP, Pytorch",10,B.Sc,None,AI Researcher,Hire,104895,8,100

In [17]:
resume_data['JobRole'].value_counts()

JobRole
AI Researcher            13059
Cybersecurity Analyst    13002
Data Scientist           12968
Software Engineer        11971
Name: count, dtype: int64

In [18]:
resume_data['Skills'].value_counts().sum()

51000

In [19]:
"""resume_data["Skills"] = resume_data["Skills"].str.lower().str.replace(r"[^\w\s,]", "", regex=True)
resume_data["Skills"] = resume_data["Skills"].apply(lambda x: x.split(", "))  # Convert to lists
"""

'resume_data["Skills"] = resume_data["Skills"].str.lower().str.replace(r"[^\\w\\s,]", "", regex=True)\nresume_data["Skills"] = resume_data["Skills"].apply(lambda x: x.split(", "))  # Convert to lists\n'

In [20]:
resume_data.loc[0]['Skills']

'TensorFlow, NLP, Pytorch'

Vectorization

In [21]:
"""# Performing label encoding on the specific columns
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

def label_encoding(column):
    resume_data[column] = le.fit_transform(resume_data[column])
    """

'# Performing label encoding on the specific columns\nfrom sklearn.preprocessing import LabelEncoder\n\nle = LabelEncoder()\n\ndef label_encoding(column):\n    resume_data[column] = le.fit_transform(resume_data[column])\n    '

In [22]:
"""label_encoding('JobRole')
label_encoding('Education')
label_encoding('Certifications')
label_encoding('RecruiterDecision')"""

"label_encoding('JobRole')\nlabel_encoding('Education')\nlabel_encoding('Certifications')\nlabel_encoding('RecruiterDecision')"

In [23]:
resume_data

,Skills,ExperienceYears,Education,Certifications,JobRole,RecruiterDecision,SalaryExpectation,ProjectsCount,AIScore
0,"TensorFlow, NLP, Pytorch",10,B.Sc,None,AI Researcher,Hire,104895,8,100
1,"Deep Learning, Machine Learning, Python, SQL",10,MBA,Google ML,Data Scientist,Hire,113002,1,100
2,"Ethical Hacking, Cybersecurity, Linux",1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70
3,"Python, Pytorch, TensorFlow",7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95
4,"SQL, React, Java",4,PhD,None,Software Engineer,Hire,87441,9,100
...,...,...,...,...,...,...,...,...,...
50995,"NLP, TensorFlow, Python, Pytorch",27,B.Sc,AWS Certified,Cybersecurity Analyst,Hire,76516,19,76
50996,"React, SQL, C++",17,MBA,None,Cybersecurity Analyst,Reject,41356,10,7
50997,"Pytorch, NLP",40,B.Sc,Google ML,AI Researcher,Reject,191980,5,57
50998,"Python, Pytorch, TensorFlow, NLP",4,MBA,None,Data Scientist,Reject,79574,3,37
50999,"Ethical Hacking, Networking, Linux",14,B.Sc,Deep Learning Specialization,Cybersecurity Analyst,Hire,110224,10,73

In [24]:
"""# Now let us perform the TF - vectorization on the skills column

from sklearn.feature_extraction.text import TfidfVectorizer


tf = TfidfVectorizer()
"""


resume_data['Skills'] = resume_data['Skills'].str.lower().str.replace(r"[^\w\s,]", "", regex=True)
resume_data['Skills'] = resume_data['Skills'].apply(lambda x: x.split(", "))  # Convert to lists

In [25]:
resume_data.iloc[0]['Skills']

['tensorflow', 'nlp', 'pytorch']

In [26]:
"""# Joining the list of skills into a single string for each row
resume_data['Skills'] = resume_data['Skills'].apply(lambda x: ' '.join(x))
"""

"# Joining the list of skills into a single string for each row\nresume_data['Skills'] = resume_data['Skills'].apply(lambda x: ' '.join(x))\n"

In [27]:
resume_data['Skills']

0                            [tensorflow, nlp, pytorch]
1        [deep learning, machine learning, python, sql]
2               [ethical hacking, cybersecurity, linux]
3                         [python, pytorch, tensorflow]
4                                    [sql, react, java]
                              ...
50995                [nlp, tensorflow, python, pytorch]
50996                                   [react, sql, c]
50997                                    [pytorch, nlp]
50998                [python, pytorch, tensorflow, nlp]
50999              [ethical hacking, networking, linux]
Name: Skills, Length: 51000, dtype: object

In [28]:
from collections import Counter

all_skills = [skill for skills in resume_data["Skills"] for skill in skills]
most_common_skills = [skill for skill, _ in Counter(all_skills).most_common()]

# Function to adjust each row to have exactly 3 skills
def adjust_skills(skills):
    while len(skills) < 3:  # Add most common skill if less than 3
        for skill in most_common_skills:
            if skill not in skills:
                skills.append(skill)
                break  
    if len(skills) > 3:  # Remove least common skill if more than 3
        skills = sorted(skills, key=lambda x: all_skills.count(x), reverse=True)[:3]
    return skills

In [29]:
resume_data['Skills'].apply(adjust_skills)

0                     [tensorflow, nlp, pytorch]
1                [python, sql, machine learning]
2        [ethical hacking, cybersecurity, linux]
3                  [python, pytorch, tensorflow]
4                             [sql, react, java]
                          ...
50995                  [python, tensorflow, nlp]
50996                            [react, sql, c]
50997                     [pytorch, nlp, python]
50998                  [python, tensorflow, nlp]
50999       [ethical hacking, networking, linux]
Name: Skills, Length: 51000, dtype: object

In [30]:
a = set()
for i in resume_data['Skills']:
    a.add(len(i))

a

{3, 4}

In [31]:
"""from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TF-IDF vectorizer
vectorizer = TfidfVectorizer(max_features=1000)  # Keeping top 1000 features

# Fit and transform the "Skills" column
skills_tfidf = vectorizer.fit_transform(resume_data["Skills"]).toarray()

# Convert numerical vectors back into a single column as a comma-separated string
resume_data["Skills"] = [",".join(map(str, row)) for row in skills_tfidf]

# Display the first few rows to verify changes
resume_data.head()
"""

'from sklearn.feature_extraction.text import TfidfVectorizer\n\n# Initialize TF-IDF vectorizer\nvectorizer = TfidfVectorizer(max_features=1000)  # Keeping top 1000 features\n\n# Fit and transform the "Skills" column\nskills_tfidf = vectorizer.fit_transform(resume_data["Skills"]).toarray()\n\n# Convert numerical vectors back into a single column as a comma-separated string\nresume_data["Skills"] = [",".join(map(str, row)) for row in skills_tfidf]\n\n# Display the first few rows to verify changes\nresume_data.head()\n'

In [32]:
resume_data['Skills']

0                            [tensorflow, nlp, pytorch]
1        [deep learning, machine learning, python, sql]
2               [ethical hacking, cybersecurity, linux]
3                         [python, pytorch, tensorflow]
4                                    [sql, react, java]
                              ...
50995                [nlp, tensorflow, python, pytorch]
50996                                   [react, sql, c]
50997                            [pytorch, nlp, python]
50998                [python, pytorch, tensorflow, nlp]
50999              [ethical hacking, networking, linux]
Name: Skills, Length: 51000, dtype: object

In [33]:
# Splitting ths skills in the columns
resume_data['Skill1'] = resume_data['Skills'].apply(lambda x: x[0])
resume_data['Skill2'] = resume_data['Skills'].apply(lambda x: x[1])
resume_data['Skill3'] = resume_data['Skills'].apply(lambda x: x[2])

In [34]:
resume_data.drop(columns='Skills', axis=1, inplace=True)

In [35]:
resume_data.head()

,ExperienceYears,Education,Certifications,JobRole,RecruiterDecision,SalaryExpectation,ProjectsCount,AIScore,Skill1,Skill2,Skill3
0,10,B.Sc,None,AI Researcher,Hire,104895,8,100,tensorflow,nlp,pytorch
1,10,MBA,Google ML,Data Scientist,Hire,113002,1,100,deep learning,machine learning,python
2,1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70,ethical hacking,cybersecurity,linux
3,7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95,python,pytorch,tensorflow
4,4,PhD,None,Software Engineer,Hire,87441,9,100,sql,react,java

In [36]:
# Now let us perform Scaling on the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

def scaling(column):
    resume_data[column] = scaler.fit_transform(resume_data[[column]])

In [37]:
"""scaling('ExperienceYears')
scaling('SalaryExpectation')
scaling('ProjectsCount')
scaling('AIScore')
scaling('Education')
scaling('Certifications')
scaling('JobRole')
"""

"scaling('ExperienceYears')\nscaling('SalaryExpectation')\nscaling('ProjectsCount')\nscaling('AIScore')\nscaling('Education')\nscaling('Certifications')\nscaling('JobRole')\n"

In [38]:
"resume_data['Skills']"

"resume_data['Skills']"

In [39]:
resume_data['Skill3'].value_counts()

Skill3
python              17006
sql                  7732
ethical hacking      3397
linux                2475
nlp                  2409
machine learning     2267
java                 2221
pytorch              2051
deep learning        2041
tensorflow           2020
react                1988
c                    1930
networking           1845
cybersecurity        1618
Name: count, dtype: int64

In [40]:
"""
# Function to perform get_dummies and return transformed columns
def get_dummies(column):
    return pd.get_dummies(resume_data[column], prefix=column)

# Apply get_dummies and add the results to the original DataFrame
resume_data = pd.concat([
    resume_data,
    get_dummies('JobRole'),
    get_dummies('Education'),
    get_dummies('Certifications'),
], axis=1)

# Optionally drop the original columns if they are no longer needed
resume_data.drop(columns=['JobRole', 'Education', 'Certifications'], inplace=True)"""

"\n# Function to perform get_dummies and return transformed columns\ndef get_dummies(column):\n    return pd.get_dummies(resume_data[column], prefix=column)\n\n# Apply get_dummies and add the results to the original DataFrame\nresume_data = pd.concat([\n    resume_data,\n    get_dummies('JobRole'),\n    get_dummies('Education'),\n    get_dummies('Certifications'),\n], axis=1)\n\n# Optionally drop the original columns if they are no longer needed\nresume_data.drop(columns=['JobRole', 'Education', 'Certifications'], inplace=True)"

In [41]:
resume_data

,ExperienceYears,Education,Certifications,JobRole,RecruiterDecision,SalaryExpectation,ProjectsCount,AIScore,Skill1,Skill2,Skill3
0,10,B.Sc,None,AI Researcher,Hire,104895,8,100,tensorflow,nlp,pytorch
1,10,MBA,Google ML,Data Scientist,Hire,113002,1,100,deep learning,machine learning,python
2,1,MBA,Deep Learning Specialization,Cybersecurity Analyst,Hire,71766,7,70,ethical hacking,cybersecurity,linux
3,7,B.Tech,AWS Certified,AI Researcher,Hire,46848,0,95,python,pytorch,tensorflow
4,4,PhD,None,Software Engineer,Hire,87441,9,100,sql,react,java
...,...,...,...,...,...,...,...,...,...,...,...
50995,27,B.Sc,AWS Certified,Cybersecurity Analyst,Hire,76516,19,76,nlp,tensorflow,python
50996,17,MBA,None,Cybersecurity Analyst,Reject,41356,10,7,react,sql,c
50997,40,B.Sc,Google ML,AI Researcher,Reject,191980,5,57,pytorch,nlp,python
50998,4,MBA,None,Data Scientist,Reject,79574,3,37,python,pytorch,tensorflow
50999,14,B.Sc,Deep Learning Specialization,Cybersecurity Analyst,Hire,110224,10,73,ethical hacking,networking,linux

Splitting X and Y

In [42]:
X = resume_data.drop('RecruiterDecision', axis=1)
Y = resume_data['RecruiterDecision']

Initializing the train test split

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [44]:
print(X_train.shape, X_test.shape, X.shape)

(40800, 10) (10200, 10) (51000, 10)

Model Selection

In [45]:
from catboost import CatBoostClassifier
cat_features = ['Skill1','Skill2','Skill3','Education','Certifications','JobRole'] 

# Initialize CatBoostClassifier
catboost_model = CatBoostClassifier(iterations=300, learning_rate=0.01, depth=6, loss_function='Logloss', verbose=100,cat_features=cat_features)

# Fit the model
catboost_model.fit(X_train, Y_train)

0:	learn: 0.6885999	total: 145ms	remaining: 43.3s
100:	learn: 0.5077493	total: 2.74s	remaining: 5.4s
200:	learn: 0.4866649	total: 5.19s	remaining: 2.56s
299:	learn: 0.4835695	total: 7.71s	remaining: 0us

In [46]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test, catboost_model.predict(X_test)))

0.8090196078431372

Testing the model

In [47]:
test_data = pd.read_csv('Datasets/test_data_v3.csv')

In [48]:
test_data.drop(columns='RecruiterDecision',inplace=True)

In [49]:
test_data.isnull().sum()

ExperienceYears       0
Education             0
Certifications       26
JobRole               0
SalaryExpectation     0
ProjectsCount         0
AIScore               0
Skill1                0
Skill2                0
Skill3                0
dtype: int64

In [50]:
test_data['Certifications'].fillna('None', inplace=True)

/tmp/ipykernel_10983/3844973403.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['Certifications'].fillna('None', inplace=True)

In [51]:
test_predictions = catboost_model.predict(test_data)

In [52]:
sample = pd.read_csv('Datasets/test_data_v3.csv')

In [53]:
from sklearn.metrics import accuracy_score

# Compare the predictions with the actual values
accuracy = accuracy_score(sample['RecruiterDecision'], test_predictions)

print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 51.00%

In [54]:
import pickle 

# Save the model
with open('model/catboost_model_1.pkl', 'wb') as file:
    pickle.dump(catboost_model, file)

Getting the value_counts of each column and saving in csv

In [55]:
def value_count(column):
    print('Column:',column)
    return resume_data[column].value_counts()

In [56]:
for i in resume_data.columns:
    print(value_count(i))
    print('\n')

Column: ExperienceYears
ExperienceYears
3     1347
5     1327
7     1326
9     1325
0     1313
19    1312
8     1299
1     1295
10    1287
11    1286
2     1280
4     1280
6     1275
18    1267
39    1266
12    1257
31    1253
26    1245
27    1244
16    1235
20    1230
23    1228
13    1228
17    1226
21    1225
25    1223
34    1218
14    1217
22    1216
40    1216
28    1212
32    1199
33    1199
35    1195
24    1194
30    1192
15    1191
37    1185
29    1183
38    1159
36    1145
Name: count, dtype: int64


Column: Education
Education
B.Sc      10435
B.Tech    10362
MBA       10248
PhD       10012
M.Tech     9943
Name: count, dtype: int64


Column: Certifications
Certifications
None                            14080
Deep Learning Specialization    13046
AWS Certified                   12453
Google ML                       11421
Name: count, dtype: int64


Column: JobRole
JobRole
AI Researcher            13059
Cybersecurity Analyst    13002
Data Scientist           12968
Software Engineer        11971
Name: count, dtype: int64


Column: RecruiterDecision
RecruiterDecision
Hire      41356
Reject     9644
Name: count, dtype: int64


Column: SalaryExpectation
SalaryExpectation
166083    5
54607     5
38230     5
128539    4
63009     4
         ..
121469    1
145380    1
109394    1
133141    1
79574     1
Name: count, Length: 44138, dtype: int64


Column: ProjectsCount
ProjectsCount
8     2547
0     2523
6     2511
1     2506
10    2499
7     2492
2     2455
17    2429
9     2425
3     2424
4     2423
5     2421
18    2410
16    2401
20    2393
11    2388
12    2383
14    2362
15    2345
19    2334
13    2329
Name: count, dtype: int64


Column: AIScore
AIScore
100    974
85     593
65     585
80     561
27     552
      ...
9      458
5      456
42     446
87     432
20     417
Name: count, Length: 101, dtype: int64


Column: Skill1
Skill1
sql                 6780
python              6519
tensorflow          3695
pytorch             3482
cybersecurity       3465
ethical hacking     3410
networking          3247
java                3077
react               2991
deep learning       2951
c                   2928
machine learning    2884
linux               2872
nlp                 2699
Name: count, dtype: int64


Column: Skill2
Skill2
python              6436
sql                 5398
machine learning    3824
tensorflow          3777
nlp                 3453
java                3433
networking          3394
ethical hacking     3312
deep learning       3279
linux               3205
cybersecurity       3083
pytorch             2925
c                   2770
react               2711
Name: count, dtype: int64


Column: Skill3
Skill3
python              17006
sql                  7732
ethical hacking      3397
linux                2475
nlp                  2409
machine learning     2267
java                 2221
pytorch              2051
deep learning        2041
tensorflow           2020
react                1988
c                    1930
networking           1845
cybersecurity        1618
Name: count, dtype: int64

In [ ]:
"""value_counts_df_list = []

for column in resume_data.columns:
    value_counts = value_count(column)
    value_counts_df = value_counts.reset_index()
    value_counts_df.columns = [column, 'Count']
    value_counts_df_list.append(value_counts_df)

# Concatenate all dataframes into one
all_value_counts_df = pd.concat(value_counts_df_list, axis=1)

# Save to a single CSV file
all_value_counts_df.to_csv('all_value_counts.csv', index=False)
print('Saved all_value_counts.csv')"""

Column: ExperienceYears
Column: Education
Column: Certifications
Column: JobRole
Column: RecruiterDecision
Column: SalaryExpectation
Column: ProjectsCount
Column: AIScore
Column: Skill1
Column: Skill2
Column: Skill3
Saved all_value_counts.csv

In [58]:
for column in resume_data.columns:
    value_counts = value_count(column)
    value_counts_df = value_counts.reset_index()
    value_counts_df.columns = [column, 'Count']
    value_counts_df.to_csv(f'{column}_value_counts.csv', index=False)
    print(f'Saved {column}_value_counts.csv')

Column: ExperienceYears
Saved ExperienceYears_value_counts.csv
Column: Education
Saved Education_value_counts.csv
Column: Certifications
Saved Certifications_value_counts.csv
Column: JobRole
Saved JobRole_value_counts.csv
Column: RecruiterDecision
Saved RecruiterDecision_value_counts.csv
Column: SalaryExpectation
Saved SalaryExpectation_value_counts.csv
Column: ProjectsCount
Saved ProjectsCount_value_counts.csv
Column: AIScore
Saved AIScore_value_counts.csv
Column: Skill1
Saved Skill1_value_counts.csv
Column: Skill2
Saved Skill2_value_counts.csv
Column: Skill3
Saved Skill3_value_counts.csv

In [ ]:
import pickle
import pandas as pd

# Load the saved CatBoost model
with open('model/catboost_model_1.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Create sample input data for "Reject"
sample_data_reject = pd.DataFrame({
    'ExperienceYears': [1, 2],
    'Education': ['Diploma', 'B.Sc'],
    'Certifications': ['None', 'AWS Certified'],
    'JobRole': ['Cybersecurity Analyst', 'Software Engineer'],
    'SalaryExpectation': [30000, 40000],
    'ProjectsCount': [1, 2],
    'AIScore': [50, 60],
    'Skill1': ['networking', 'java'],
    'Skill2': ['linux', 'c++'],
    'Skill3': ['ethical hacking', 'sql']
})

# Ensure categorical features are in the correct format
for col in ['Education', 'Certifications', 'JobRole', 'Skill1', 'Skill2', 'Skill3']:
    sample_data_reject[col] = sample_data_reject[col].astype('category')

# Make predictions
predictions_reject = loaded_model.predict(sample_data_reject)

# Print the predictions
print(predictions_reject)

['Hire' 'Hire']